snippet m
	margin: ${1:10px};${2}
snippet mr
	margin-right: ${1:10px};${2}
snippet ml
	margin-left: ${1:10px};${2}
snippet mt
	margin-top: ${1:10px};${2}
snippet mb
	margin-bottom: ${1:10px};${2}
snippet pr
	padding-right: ${1:10px};${2}
snippet pb
	padding-bottom: ${1:10px};${2}
snippet pl
	padding-left: ${1:10px};${2}
snippet pt
	padding-top: ${1:10px};${2}
